<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Cart Suite">
  <test thread-count="5" name="Amazon Cart Testcases">
    <classes>
      
      <class name="AmazonCartTestcases.Testcase1"/>
      <class name="AmazonCartTestcases.Testcase2"/>
      <class name="AmazonCartTestcases.Testcase3"/>
      
    </classes>
  </test> <!-- Amazon Cart Testcases -->
</suite> <!-- Amazon Cart Suite -->
